# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [77]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
city_file = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Load the CSV file into a Pandas DataFrame
city_data_df =pd.DataFrame(city_file)

# Display sample data
city_data_df.sample(n=5)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
459,459,Olavarria,AR,-36.8927,-60.3225,61.56,53,0,11.50,clear sky
41,41,Esperance,AU,-33.8667,121.9000,62.69,51,1,9.64,clear sky
277,277,Manzanillo,CU,20.3433,-77.1167,71.60,81,14,8.55,few clouds
101,101,Tasiilaq,GL,65.6145,-37.6368,26.76,52,0,4.07,clear sky
470,470,Alvinopolis,BR,-20.1067,-43.0489,67.84,96,86,1.70,moderate rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [10]:
# Prompt the user to enter the minimum temperature criteria
min_temp =float(input("what is the minimum temperature for your vacation trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("what is the maximum temperature for your vacation trip? "))

what is the minimum temperature for your vacation trip? 50
what is the maximum temperature for your vacation trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [12]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & \
                                      (city_data_df["Max Temp"]>= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Airai,TL,-8.9266,125.4092,78.60,39,87,0.98,overcast clouds
2,2,East London,ZA,-33.0153,27.9116,71.91,85,100,21.79,overcast clouds
3,3,Vao,NC,-22.6667,167.4833,76.82,70,10,15.05,clear sky
4,4,Kaputa,ZM,-8.4689,29.6619,66.07,88,98,3.98,light rain
5,5,Port Elizabeth,ZA,-33.9180,25.5701,73.09,97,75,19.57,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [13]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.sample(n=6)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
171,171,Te Anau,NZ,-45.4167,167.7167,69.84,51,55,5.19,broken clouds
584,584,Belmonte,BR,-15.8631,-38.8828,76.71,93,48,11.65,scattered clouds
698,698,Lazaro Cardenas,MX,17.9583,-102.2000,75.99,79,5,3.83,clear sky
461,461,Villazon,BO,-22.0866,-65.5942,53.01,71,91,7.31,overcast clouds
432,432,Lorengau,PG,-2.0226,147.2712,83.77,72,100,4.23,overcast clouds
54,54,Cape Town,ZA,-33.9258,18.4232,75.11,83,100,11.99,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [16]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.sample(n=8)

,City,Country,Max Temp,Current Description,Lat,Lng
692,Safranbolu,TR,52.93,overcast clouds,41.2508,32.6942
450,Seminole,US,65.37,overcast clouds,28.7086,-81.2081
231,Khandbari,NP,57.78,clear sky,27.3747,87.2039
390,Teloloapan,MX,61.00,clear sky,18.3500,-99.8500
455,Jacareacanga,BR,75.58,overcast clouds,-6.2222,-57.7528
62,Sao Joao Da Barra,BR,74.97,clear sky,-21.6403,-41.0511
124,Butaritari,KI,80.83,overcast clouds,3.0707,172.7902
645,Codajas,BR,78.98,overcast clouds,-3.8367,-62.0569

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [20]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]= ""

# Display sample data
hotel_df.sample(n=4)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
86,Toccoa,US,51.44,mist,34.5773,-83.3324,
282,Ypsonas,CY,63.57,clear sky,34.6884,32.9574,
491,Marzuq,YE,57.56,clear sky,14.4000,46.4667,
589,Lichtenburg,ZA,66.45,overcast clouds,-26.1520,26.1597,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [21]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [23]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url,params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Airai,TL,78.60,overcast clouds,-8.9266,125.4092,
2,East London,ZA,71.91,overcast clouds,-33.0153,27.9116,Tu Casa
3,Vao,NC,76.82,clear sky,-22.6667,167.4833,Hotel Kou-Bugny
4,Kaputa,ZM,66.07,light rain,-8.4689,29.6619,Chelelwa Charlets
5,Port Elizabeth,ZA,73.09,broken clouds,-33.9180,25.5701,39 On Nile Guest House
6,Lixourion,GR,59.85,scattered clouds,38.2019,20.4314,Hotel Summery
8,Lagoa,PT,62.42,clear sky,39.0500,-27.9833,Casa Das Faias
10,Acapulco,MX,80.42,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
11,Puerto Madero,MX,75.40,few clouds,14.7208,-92.4215,DEPARTAMENTOS LA ESTANCIA
12,Sorrento,IT,57.25,overcast clouds,40.6260,14.3744,Hilton Sorrento Palace

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [80]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df =hotel_df.dropna()

#clean_hotel_df=clean_hotel_df1[]
#clean_hotel_df["Hotel Name"].dtype
# Display sample data
clean_hotel_df.sample(n=15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
382,Pangai,TO,80.71,light rain,-19.8000,-174.3500,Ha'apai Beach Resort
313,Garowe,SO,65.28,scattered clouds,8.4054,48.4845,Sacaada Hotel
30,Saint-Joseph,RE,71.98,scattered clouds,-21.3667,55.6167,"""Plantation Bed and Breakfast"
686,Yen Bai,VN,63.52,overcast clouds,21.7000,104.8667,AK MOTEL
695,Bairiki,KI,86.00,scattered clouds,1.3292,172.9752,Tarawa Boutique Hotel
618,Manaus,BR,79.29,few clouds,-3.1019,-60.0250,Manaus Hotéis Millennium
85,Cidreira,BR,72.86,clear sky,-30.1811,-50.2056,Hotel Castelo
263,Poum,NC,80.49,clear sky,-20.2333,164.0167,
136,Avera,US,53.38,light rain,33.1940,-82.5271,
400,Tautira,PF,77.05,moderate rain,-17.7333,-149.1500,Pension Oaoa
59,Sabang,ID,77.63,overcast clouds,5.8933,95.3214,Hotel Citra
16,Hobart,AU,64.26,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
655,Adrar,MR,72.16,clear sky,20.5022,-10.0711,
478,Marakkanam,IN,77.74,heavy intensity rain,12.2000,79.9500,OYO 73765 Ocean Breeze Guest House
105,Puerto Escondido,MX,77.83,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [83]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [84]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [41]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [42]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Airai</dd>\n<dt>Country</dt><dd>TL</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tu Casa</dd>\n<dt>City</dt><dd>East London</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Kou-Bugny</dd>\n<dt>City</dt><dd>Vao</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Chelelwa Charlets</dd>\n<dt>City</dt><dd>Kaputa</dd>\n<dt>Country</dt><dd>ZM</dd>\n<dt>Current Weather</dt><dd>light rain and 66.07 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Summery</dd>\n<dt>City</dt><dd>Lixourion</dd>\n<dt>Country</dt><dd>GR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 59.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Das Faias</dd>\n<dt>City</dt><dd>Lagoa</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>clear sky and 62.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HS Hotsson Smart Acapulco</dd>\n<dt>City</dt><dd>Acapulco</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>DEPARTAMENTOS LA ESTANCIA</dd>\n<dt>City</dt><dd>Puerto Madero</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilton Sorrento Palace</dd>\n<dt>City</dt><dd>Sorrento</dd>\n<dt>Country</dt><dd>IT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 57.25 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [43]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   -8.9266  125.4092
2  -33.0153   27.9116
3  -22.6667  167.4833
4   -8.4689   29.6619
5  -33.9180   25.5701
6   38.2019   20.4314
8   39.0500  -27.9833
10  16.8634  -99.8901
11  14.7208  -92.4215
12  40.6260   14.3744

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [44]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))